.head1 {
    background: #4aaaa5;
    width: 25%;
    padding:20px;
    padding-right: 0px;
    font-family: Georgia, Times, Times New Roman, serif;
    color: #ffffff;
}
.head2 {
    color: #4aaaa5;
    padding: 20px;
    font-family: Georgia, Times, Times New Roman, serif;
}
.links {
    float: right;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
main {
    background: #777777;
}
aside {
    width: 20px;
    height: 20px;
}
.para1 {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}


